.register-pages {
    align-items: center;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
}

.register-boxs {
    width: 400px;
}

.apply-header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    /* identical to box height */

    color: #000000;
}

.input-label {
    /* text lg/regular */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.btn-apply {


    background: #F64E60;
    opacity: 0.6;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: bold;
    width: 100%;
    padding: 10px 20px;
    gap: 10px;


}